$red: #f41360;
$turquoise: #15cadb;
$yellow: #fde014;

$border-rad: 8px;
$btn-height: 7px;

.main-container {
	background-color: $red;
	min-height: 100%;

	.content-container {
		max-width: 960px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		.title-container {
			text-align: center;
			margin: 30px 0;
			padding: 20px 0;

			.title {
				margin: 0;
				padding: 10px;
				display: inline-block;
			}

			.title-1 {
				padding: 10px 0 10px 10px;
				background-color: $red;
				border: 5px solid $turquoise;
				border-radius: $border-rad 0 0 $border-rad;
				border-right: 0;
				color: white;
			}

			.title-2 {
				padding: 10px 10px 10px 0;
				background-color: $turquoise;
				color: white;
				border-radius: 0 $border-rad $border-rad 0;
			}

		}

		.red {
			color: $red;
		}

		button {
			height: 80px;
			position: relative;
			font-size: 2em;
			font-weight: 800;
			margin: 10px 0;
			padding: 15px 0;
			color: black;
			background-color: $yellow;
			border: none;
			border-radius: $border-rad;
			box-shadow: 0px $btn-height 0px $turquoise;
			outline: none;
			transition: all 0.1s;

			&:active {
				transform: translate(0px, ($btn-height - 1px));
				box-shadow: 0px 0px;
				border-bottom: 1px solid black;
			}
		}

		.info-container {
			display: flex;
			flex-direction: row;
			margin: 80px 0 60px;

			& h3 {
				margin: 0 0 15px;
			}

			& > * {
				background-color: $turquoise;
				color: white;
				flex: 1;
				padding: 25px;
				border-radius: $border-rad;

				& h3 {
					font-weight: bold;
				}

				& h5 {
					line-height: 20px;
				}
			}

			.how {
				margin-right: 20px;
			}
		}
		

	}
}
